<html>

<body>
    <h3>Maps</h3>
    <br>
    <form action="{{url_for('googlemapssuccess')}}" method="POST">

        <p>Google Maps</p>
        <input type="text" name="location" /></br>
        <input type="submit" value="submit" /><br>
    </form>
    <h3>Map Quest</h3>
    <br>
    <form action="{{url_for('mapquestssuccess')}}" method="POST">

        <p>From</p>
        <input type="text" name="fromlocation" /></br>
        <p>To</p>
        <input type="text" name="tolocation" /><br>
        <input type="submit" value="submit" /><br>
    </form>




</body>

</html>